= render "share/header"

.account-wrap
  // 基本情報
  .account-box
    %h2.account-box__title
      会員登録情報
    .account-data
      // アバターとネーム
      .account-data__row#border-bottom
        .account-data__row--headline
          基本情報
        .account-data__row--avatar
          - if current_user.avatar.present?
            = image_tag current_user.avatar.url, class: "registration-avatar--active"
          - else
            = icon "fas", "user-circle", class: "registration-avatar--disabled"
          .registration-avatar--name
            = current_user.name
        = link_to "変更", new_icon_user_path(current_user), class: "account-data__row--button"

      // メールアドレス
      .account-data__row#border-bottom
        .account-data__row--headline
          Email
        .account-data__row--email
          = current_user.email
        = link_to "変更", new_email_user_path(current_user), class: "account-data__row--button"

      // パスワード
      .account-data__row
        .account-data__row--headline
          Password
        .account-data__row--password
          セキュリティーのため非表示です
        = link_to "変更", new_password_user_path(current_user), class: "account-data__row--button"

  // グループ情報
  .account-box.margin
    %h2.account-box__title
      グループ情報
    .account-data

      // グループ総数
      .account-data__row#border-bottom
        .account-data__row--headline
          所属しているグループ総数
        .account-data__row--group-total
          = @groups_count
          グループ

      // タスク総数
      .account-data__row#border-bottom
        .account-data__row--headline
          担当タスク総数
        .account-data__row--task-total
          = current_user.tasks.length
          件

      // 未完了のタスク総数
      .account-data__row#border-bottom
        .account-data__row--headline
          未完了の担当タスク総数
        .account-data__row--task-total
          = @uncompleated_tasks_count
          件

      // グループ内でのタスク総数
      .account-data__row
        .account-data__row--headline
          グループ内での担当タスク総数
        .account-data__row--task-total
          = @current_group_tasks_count
          件

= render "share/navigation"