.account-wrap
  .account-box
    - if @group.present?
      %ul.account-box__side-bar
        %li.account-box__side-bar--list
          = link_to "Select Group", groups_path, class: "my-list"
        %li.account-box__side-bar--list
          = link_to "New Group", new_group_path, class: "my-list"
        %li.account-box__side-bar--list
          = link_to "Edit Group", edit_group_path(@group), method: :get, class: "my-list"
        %li.account-box__side-bar--list
          = link_to "Delete Group", group_path(@group), method: "delete", data: {confirm: "現在参加中のグループ\n#{@group.name}を削除しますか？"}, class: "my-list"
        %li.account-box__side-bar--list
          = link_to "Logout", destroy_user_session_path, method: :delete, class: 'my-list'
        %li.account-box__side-bar--list
          = link_to "Delete User", user_path(current_user), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "my-list"
    - else
      %ul.account-box__side-bar
        %li.account-box__side-bar--list
          = link_to "Select Group", groups_path, class: "my-list"
        %li.account-box__side-bar--list
          = link_to "New Group", new_group_path, class: "my-list"
        %li.account-box__side-bar--list
          = link_to "Logout", destroy_user_session_path, method: :delete, class: 'my-list'
        %li.account-box__side-bar--list
          = link_to "Delete User", user_path(current_user), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "my-list"
    .account-field
      .account-field__title
        会員登録情報
      .account-field__border--top
      .account-field__data
        .account-field__data--headline
          基本情報
        .account-field__data--content
          - if current_user.avatar.attached?   #has_one_attachedで画像機能を作成した場合、attached?で画像の有無を確認する。存在すればtrueを返す
            .account-field__icon
              = image_tag current_user.avatar, class: "pesonal-icon"
          - else
            .account-field__icon
              = icon "fas", "user", class: "account-icon"
          .account-field__name
            = current_user.name
        = link_to "変更", new_icon_user_path(current_user), class: "account-update__button--top"
      .account-field__border--middle
      .account-field__data
        .account-field__data--secure
          メールアドレス
        .account-field__data--content
          .account-field__email
            = current_user.email
        = link_to "変更", new_email_user_path(current_user), class: "account-update__button"
      .account-field__border--bottom
      .account-field__data
        .account-field__data--secure
          パスワード
        .account-field__data--content
          .account-field__password
            セキュリティーのため非表示です
        = link_to "変更", new_password_user_path(current_user), class: "account-update__button"

  .account-group
    .account-field__title
      グループ情報
    .account-group__border--top
    .account-field__data
      .account-group__data--headline
        所属しているグループ総数
      .account-group__data--content
        .account-group__group-count
        = @group_count
        グループ
    .account-group__border--middle
    - if @group.present?
      .account-field__data
        .account-group__data--secure
          現在参加中のグループ名
        .account-group__data--content
          .account-group__name
            = @group.name
      .account-group__border--bottom
      .account-field__data
        .account-group__data--secure
          現在参加中のグループ人数
        .account-group__data--content
          .account-group__user-count
            = @user_count
            人
    - else
      .account-field__data
        .account-field__data--secure
          現在参加中のグループ名
        .account-field__data--content
          .account-group__name
            参加中のグループはありません
      .account-group__border--bottom
      .account-field__data
        .account-field__data--secure
          現在参加中のグループ人数
        .account-field__data--content
          .account-field__user-count
            参加中のグループはありません

  = render "share/navigation"