= render "share/header"

.status-wrap
  .table-wrap
    // テーブルのタブ
    %ul.status-tab
      %li.active Status
      %li Position

    // 基本状態のテーブル
    .status-container
      %table.status-table.active
        %thead
          %tr.status-table__row
            %th.status-table__row--header
              Name
            %th.status-table__row--header
              Company
            %th.status-table__row--header
              Working hours
            %th.status-table__row--header
              Break time
            %th.status-table__row--header
              Transceiver
            %th.status-table__row--header
              Meal
            %th.status-table__row--header
              Wear

        - @group.statuses.each do |status|
          %tbody
            // 使用しているアバターがログイン中であり、データベースから取り出したステータスのユーザーidが、ログインを済ませ自ら使用しているアバターのidと等しいならば、自分のステータスを赤色の枠で囲う処理
            - if current_user && status.user_id == current_user.id
              %tr.status-table__row#current-user__row
                // status.idが奇数だった場合の処理
                - if status.id.odd?
                  %td.status-table__row--data#overlay-color
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data#overlay-color
                    = status.company.name
                  %td.status-table__row--data#overlay-color
                    #{status.working_hour.start_at.strftime("%H:%M")} ∼ #{status.working_hour.end_at.strftime("%H:%M")}
                  %td.status-table__row--data#overlay-color
                    #{status.working_hour.break_at} min
                  %td.status-table__row--data#overlay-color
                    = status.transceiver.state
                  %td.status-table__row--data#overlay-color
                    = status.meal.state
                  %td.status-table__row--data#overlay-color
                    = status.wear.clothes

                - else
                  %td.status-table__row--data
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data
                    = status.company.name
                  %td.status-table__row--data
                    #{status.working_hour.start_at.strftime("%H:%M")} ∼ #{status.working_hour.end_at.strftime("%H:%M")}
                  %td.status-table__row--data
                    #{status.working_hour.break_at} min
                  %td.status-table__row--data
                    = status.transceiver.state
                  %td.status-table__row--data
                    = status.meal.state
                  %td.status-table__row--data
                    = status.wear.clothes

            - else
              %tr.status-table__row
                // status.idが奇数だった場合の処理
                - if status.id.odd?
                  %td.status-table__row--data#overlay-color
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data#overlay-color
                    = status.company.name
                  %td.status-table__row--data#overlay-color
                    #{status.working_hour.start_at.strftime("%H:%M")} ∼ #{status.working_hour.end_at.strftime("%H:%M")}
                  %td.status-table__row--data#overlay-color
                    #{status.working_hour.break_at} min
                  %td.status-table__row--data#overlay-color
                    = status.transceiver.state
                  %td.status-table__row--data#overlay-color
                    = status.meal.state
                  %td.status-table__row--data#overlay-color
                    = status.wear.clothes

                - else
                  %td.status-table__row--data
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data
                    = status.company.name
                  %td.status-table__row--data
                    #{status.working_hour.start_at.strftime("%H:%M")} ∼ #{status.working_hour.end_at.strftime("%H:%M")}
                  %td.status-table__row--data
                    #{status.working_hour.break_at} min
                  %td.status-table__row--data
                    = status.transceiver.state
                  %td.status-table__row--data
                    = status.meal.state
                  %td.status-table__row--data
                    = status.wear.clothes

      // ポジションのテーブル
      %table.status-table#switch
        %thead
          %tr.status-table__row
            %th.status-table__row--header
              Name
            %th.status-table__row--header
              Company
            %th.status-table__row--header
              Rank
            %th.status-table__row--header
              Set up
            %th.status-table__row--header
              Opening
            %th.status-table__row--header
              Start
            %th.status-table__row--header
              Break
            %th.status-table__row--header
              End
            %th.status-table__row--header
              Clean up

        - @group.statuses.each do |status|
          %tbody
            // 使用しているアバターがログイン中であり、データベースから取り出したステータスのユーザーidが、ログインを済ませ自ら使用しているアバターのidと等しいならば、自分のステータスを赤色の枠で囲う処理
            - if current_user && status.user_id == current_user.id
              %tr.status-table__row#current-user__row
                // status.idが奇数だった場合の処理
                - if status.id.odd?
                  %td.status-table__row--data#overlay-color
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data#overlay-color
                    = status.company.name
                  %td.status-table__row--data#overlay-color
                    // データベースから取り出したステータスのランクidの数値によって、星アイコンの表示を変える処理
                    = icon "fa", "star-half-alt", class: "rank-star" if status.rank_id == 2
                    = icon "fa", "star", class: "rank-star" if status.rank_id == 3
                    = icon "fa", "crown", class: "rank-star" if status.rank_id >= 4
                    = status.rank.name
                  %td.status-table__row--data#overlay-color
                    = status.position.set_up
                  %td.status-table__row--data#overlay-color
                    = status.position.opening
                  %td.status-table__row--data#overlay-color
                    = status.position.start
                  %td.status-table__row--data#overlay-color
                    = status.position.break
                  %td.status-table__row--data#overlay-color
                    = status.position.end
                  %td.status-table__row--data#overlay-color
                    = status.position.clean_up

                - else
                  %td.status-table__row--data
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data
                    = status.company.name
                  %td.status-table__row--data
                    // データベースから取り出したステータスのランクidの数値によって、星アイコンの表示を変える処理
                    = icon "fa", "star-half-alt", class: "rank-star" if status.rank_id == 2
                    = icon "fa", "star", class: "rank-star" if status.rank_id == 3
                    = icon "fa", "crown", class: "rank-star" if status.rank_id >= 4
                    = status.rank.name
                  %td.status-table__row--data
                    = status.position.set_up
                  %td.status-table__row--data
                    = status.position.opening
                  %td.status-table__row--data
                    = status.position.start
                  %td.status-table__row--data
                    = status.position.break
                  %td.status-table__row--data
                    = status.position.end
                  %td.status-table__row--data
                    = status.position.clean_up

            - else
              %tr.status-table__row
                // status.idが奇数だった場合の処理
                - if status.id.odd?
                  %td.status-table__row--data#overlay-color
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data#overlay-color
                    = status.company.name
                  %td.status-table__row--data#overlay-color
                    // データベースから取り出したステータスのランクidの数値によって、星アイコンの表示を変える処理
                    = icon "fa", "star-half-alt", class: "rank-star" if status.rank_id == 2
                    = icon "fa", "star", class: "rank-star" if status.rank_id == 3
                    = icon "fa", "crown", class: "rank-star" if status.rank_id >= 4
                    = status.rank.name
                  %td.status-table__row--data#overlay-color
                    = status.position.set_up
                  %td.status-table__row--data#overlay-color
                    = status.position.opening
                  %td.status-table__row--data#overlay-color
                    = status.position.start
                  %td.status-table__row--data#overlay-color
                    = status.position.break
                  %td.status-table__row--data#overlay-color
                    = status.position.end
                  %td.status-table__row--data#overlay-color
                    = status.position.clean_up

                - else
                  %td.status-table__row--data
                    = link_to edit_group_status_path(@group, status), class: "status-link__edit" do
                      = icon "fas", "edit"
                    = status.user.name
                  %td.status-table__row--data
                    = status.company.name
                  %td.status-table__row--data
                    // データベースから取り出したステータスのランクidの数値によって、星アイコンの表示を変える処理
                    = icon "fa", "star-half-alt", class: "rank-star" if status.rank_id == 2
                    = icon "fa", "star", class: "rank-star" if status.rank_id == 3
                    = icon "fa", "crown", class: "rank-star" if status.rank_id >= 4
                    = status.rank.name
                  %td.status-table__row--data
                    = status.position.set_up
                  %td.status-table__row--data
                    = status.position.opening
                  %td.status-table__row--data
                    = status.position.start
                  %td.status-table__row--data
                    = status.position.break
                  %td.status-table__row--data
                    = status.position.end
                  %td.status-table__row--data
                    = status.position.clean_up

  .buttons
    // 拡大・縮小ボタン
    %button.resize-btn.zoom75
      = icon "fa", "search-minus", class: "common-zoom-icon"
      .text 75%
    %button.resize-btn.zoom100
      = icon "fa", "search-plus", class: "common-zoom-icon"
      .text 100%
    %button.resize-btn.zoom125
      = icon "fa", "search-plus", class: "common-zoom-icon"
      .text 125%

    // statuses/newページへのリンクボタン
    %button.link-btn
      = link_to new_group_status_path, class: "new-link" do
        = icon "fa", "pen", class: "pen-icon"
        .text New

= render "share/navigation"