.status-wrap__form
  %h1.status-wrap__form--title
    New Status
  = form_with model: [@group, @status], local: true do |f|
    = render "statuses/errors"
    %ul.form-tab
      %li Status
    %section.content
      %table.form-table
        %thead
          %tr.form-table__row
          %th.form-table__header
            Name
          %td.form-table__data
            = f.collection_select(:user_id, @user, :id, :name, {prompt: "----"}, class: "status__select-field")
          %tr.form-table__row
          %th.form-table__header
            Company
          = f.fields_for :company do |company|
            %td.form-table__data
              = company.text_field :name, autofocus: true, autocomplete: true, placeholder: "例) 株式会社イベント", class: "status__input-field"
          %tr.form-table__row
          %th.form-table__header
            Working hours
          = f.fields_for :working_hour do |hours|
            %td.form-table__data
              Start
              = hours.time_select :start_at
              &nbsp; &nbsp; ∼ &nbsp; &nbsp; End
              = hours.time_select :end_at
          %tr.form-table__row
          %th.form-table__header
            Break time
          = f.fields_for :working_hour do |hours|
            %td.form-table__data
              = hours.number_field :break_at, min: 0, max: 600, class: "status__number-field"
              min
          %tr.form-table__row
          %th.form-table__header
            Transceiver
          %td.form-table__data
            = f.collection_select(:transceiver_id, @transceiver, :id, :state, {prompt: "----"}, class: "status__select-field")
          %tr.form-table__row
          %th.form-table__header
            Meal
          %td.form-table__data
            = f.collection_select(:meal_id, @meal, :id, :state, {prompt: "----"}, class: "status__select-field")
          %tr.form-table__row
          %th.form-table__header
            Wear
          %td.form-table__data
            = f.collection_select(:wear_id, @wear, :id, :clothes, {prompt: "----"}, class: "status__select-field")


    %ul#form-position.form-tab
      %li Position
    %section.content
      %table.form-table
        %thead
          %tr.form-table__row
          %th.form-table__header
            Rank
          %td.form-table__data
            = f.collection_select(:rank_id, @rank, :id, :name, {prompt: "----"}, class: "status__select-field")
          %tr.form-table__row
          %th.form-table__header
            Set up
          = f.fields_for :position do |position|
            %td.form-table__data
              = position.text_field :set_up, autofocus: true, autocomplete: true, placeholder: "例) 設営", class: "status__input-field"
          %tr.form-table__row
          %th.form-table__header
            Opening
          = f.fields_for :position do |position|
            %td.form-table__data
              = position.text_field :opening, autofocus: true, autocomplete: true, placeholder: "例) 入場口受付", class: "status__input-field"
          %tr.form-table__row
          %th.form-table__header
            Start
          = f.fields_for :position do |position|
            %td.form-table__data
              = position.text_field :start, autofocus: true, autocomplete: true, placeholder: "例) 客席案内", class: "status__input-field"
          %tr.form-table__row
          %th.form-table__header
            Break
          = f.fields_for :position do |position|
            %td.form-table__data
              = position.text_field :break, autofocus: true, autocomplete: true, placeholder: "例) 再入場対応", class: "status__input-field"
          %tr.form-table__row
          %th.form-table__header
            End
          = f.fields_for :position do |position|
            %td.form-table__data
              = position.text_field :end, autofocus: true, autocomplete: true, placeholder: "例) 会場内客出し", class: "status__input-field"
          %tr.form-table__row
          %th.form-table__header
            Clean up
          = f.fields_for :position do |position|
            %td.form-table__data
              = position.text_field :clean_up, autofocus: true, autocomplete: true, placeholder: "例) 撤去", class: "status__input-field"


    %button.status-button
      = icon "fa", "paper-plane", class: "status-button__link--icon"
      %submit= f.submit "send", class: "status__submit"

    -# = render "share/errors"


= render "share/navigation"