.task-wrap__details
  .deadline-box
    .deadline-box__icon
      = icon "fa", "bell"
      .deadline-box__header
        Deadline
      .deadline-box__time
        = @task.deadline.strftime("%Y/%m/%d %H:%M")
  .details-box
    .details-box__title
      = @task.title
    .details-box__content
      = safe_join(@task.content.split("\n"), tag(:br))       #simple_formatだと、f.text_areaで入力された連続改行が適応されなかったので、safe_joinを使用
      .details-box__image
      - if @task.task_images.present?
        - @task.task_images.each do |task_images|
          = image_tag task_images.image.url, height: "100px", width: "100px", class: "task-image"
  .details-member
    .details-member__header
      .details-member__header--icon
        = icon "fa", "check-square", class: "check-square"
      .details-member__header--title
        Person in charge
    .details-member__list
      - @task.users.each do |task|
        -if task.avatar.attached?
          .details-member__list--image
            = image_tag task.avatar, class: "task-avatar"
            .details-member__list--name
              = task.name
        - else
          .details-member__list--image
            = icon "fas", "user", class: "task-avatar__blank"
            .details-member__list--name
              = task.name

= render "share/navigation"

.modal
  - @task.task_images.each do |task_images|
    = image_tag task_images.image.url, class: "task-image__modal" if @task.task_images.present?