.form-wrap
  %h1.form-title
    EventGeek
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-area
      = render "users/errors"

      .common-block
        .common-label
          = f.label :email
        = f.email_field :email, autofocus: false, autocomplete: "email", class: "input-field", placeholder: 'xxx@event.com', required: true

      .common-block
        .common-label
          = f.label :password
        = f.password_field :password, autocomplete: "current-password", class: "input-field", placeholder: '6文字以上', required: true
      - if devise_mapping.rememberable?
        .common-block
          = f.check_box :remember_me
          = f.label :remember_me

      .common-block
        = f.submit "Log in", class:"form-submit"

      .common-block
        = link_to "/registration", class: "login-link" do
          アカウントを持っていない場合は登録してください
      .copyright
        Copyright© 2020 Ryo Kurashima