= form_with model: @group, local: true do |f|
  = render "groups/errors"
  .form-field
    = f.label :name, "Group Name"
    %br/
    = f.text_field :name, autofocus: true, class: "input-field", placeholder: "例) 1/1  音楽イベント・駅前会場"
  .form-field
    = f.label :notice, "Group Notice"
    %br/
    = f.text_area :notice, autofocus: true, class: "input-field__text", placeholder: "共有事項を入力してください"
  .form-field
    = f.label :add, "Add Member", class: 'form-field__label'
    .form-field__search.clearfix
      %input#user-search-field.input-field{placeholder: "追加したいユーザー名を入力してください", type: "text", name: "input"}
    #user-search-result
  .search-field
    .form-field.clearfix
      %label.form-field__label{:for => "chat_group_チャットメンバー"} グループメンバー
      #group-users
        - group.users.each do |user|
          .group-user.clearfix{ id: "group-user-#{user.id}" }
            = f.hidden_field :id, name: "group[user_ids][]", value: user.id
            %p.group-user__name
              - japanese = /\A[ぁ-んァ-ン一-龥]/
              - english = /\A[\w\s]+\z/
              = user.name[0..19] << "..." if user.name.match(japanese) && user.name.length > 20
              = user.name[0..24] << "..." if user.name.match(english) && user.name.length > 25
              = user.name unless user.name.match(japanese) && user.name.length > 20 or user.name.match(english) && user.name.length > 24
            - if @group.user_ids.include?(current_user.id) && @group.user_ids.length == 1
              .user-search-not-remove
                削除不可
            - else
              %a.user-search-remove.group-user__btn.group-user__btn--remove{ 'data-user-id': user.id } 削除
    .form-field.clearfix
  .actions
    = f.submit "send", class: "form-submit__green"