.form-wrap
  %h1.form-title--green
    New Group
  = form_with model: @group, url:{controller: "groups", action: "create"}, local: true do |f|
    .form-field
      = f.label :name, "Group Name"
      %br/
      = f.text_field :name, autofocus: true, class: "input-field", placeholder: "例)   1/1   新潟コンサート・朱鷺メッセ公演"
    .form-field
      = f.label "Add Member"
      %br/
      = f.collection_check_boxes :user_ids, User.all, :id, :name
    %label.list-field
      Member List
      .list-field__members
        kurashi
      .list-field__list
    .actions
      = f.submit "Create!", class: "form-submit__green"
  = render "/share/navigation"