.form-wrap
  %h1.form-title--green
    New Group
  = form_with model: @group, url: root_path, local: true do |f|
    .form-field
      = f.label :name, "Group Name"
      %br/
      = f.text_field :name, autofocus: true, class: "input-field", placeholder: "例)   1/1   新潟コンサート・朱鷺メッセ公演"
    .form-field
      = f.label "Add Member"
      %br/
      %input.input-field{placeholder: "追加したいユーザー名を入力してください"}
    %label.list-field
      Member List
      .list-field__members
        kurashi
      .list-field__list
    .actions
      = f.submit "Create!", class: "form-submit__green"