.confirm-wrap
  %h1.confirm-title
    registration confirmation

  // 登録内容確認のブロック
  .confirm-box
    // 見出し
    %h2.confirm-box__heading
      登録内容の確認

    // 主要部分
    .confirm-box__body
      - if @user.avatar.present?
        // アバターを登録している場合
        .confirm-box__body--top
          = image_tag @user.avatar.url, class: "confirm-avatar"
        %table.confirm-box__body--middle
          %tr.content-row
            %th.content-row__item
              Name
            %td.content-row__data
              = @user.name
          %tr.content-row
            %th.content-row__item
              Email
            %td.content-row__data
              = @user.email
          %tr.content-row
            %th.content-row__item
              Password
            %td.content-row__data
              セキュリティーのため非表示です
      - else
        // アバター未登録の場合
        .confirm-box__body--top
          = icon "fas", "user-circle", class: "confirm-avatar"
        %table.confirm-box__body--middle
          %tr.content-row
            %th.content-row__item
              Name
            %td.content-row__data
              = @user.name
          %tr.content-row
            %th.content-row__item
              Email
            %td.content-row__data
              = @user.email
          %tr.content-row
            %th.content-row__item
              Password
            %td.content-row__data
              セキュリティーのため非表示です
    // 補足説明
    .confirm-box__text
      内容を確認し、よろしければ「登録」ボタンを押して下さい。
      %br/
      ※登録した内容はMY PAGEで編集できます。

  // フッターのボタン
  .confirm-footer
    %button.confirm-footer__button
      = link_to "Back", user_path(@user.id), method: :delete, class: "confirm-link"
    %button.confirm-footer__button
      = link_to "Sign up", compleate_user_path(@user.id), class: "confirm-link"
  .copyright
    Copyright© Ryo Kurashima
