.form-wrap
  %h1= link_to "Account Update", groups_path, class: "form-title-link"
  = form_with model: @user, url: {controller: "users", action:"update"} do |f|
    .form-area

      .common-block
        .common-label
          = f.label :email, "New Email"
        = f.email_field :email, autofocus: false, autocomplete: "email", class: "input-field", placeholder: 'xxx@event.com', required: true

      .common-block
        = f.submit "send", class: "form-submit", id: "overlay-color"

  //javascriptのhistory.backでユーザーの訪問履歴を参照し、一つ前のページに戻る
  %a{:href => "javascript:history.back();", class: "javascript-back"} Back