.form-wrap
  %h1.form-title--green
    Account Update
  = form_with model: @user, url: {controller: "users", action:"update"} do |f|
    .form-field
      = f.label :password, "New Password"
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "input-field", placeholder: '6文字以上', required: true
    .form-field
      = f.label :password_confirmation, "New Password_confirmation"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field", placeholder: '6文字以上', required: true
    .actions
      = f.submit "Update!", class: "form-submit__green"
  .link__back
    //javascriptのhistory.backでユーザーの訪問履歴を参照し、一つ前のページに戻る
    %a{:href => "javascript:history.back();", class: "javascript-back"} Back