.form-wrap
  %h1.form-title--green
    Account Update
  = form_with model: @user, url: {controller: "users", action:"update"} do |f|
    .form-field
      = f.label :email, "New Email"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field", placeholder: 'PC・携帯どちらでも可', required: true
    .actions
      = f.submit "Update!", class: "form-submit__green"
  = render "share/navigation"