- @group.chats.each do |chat|
  - if current_user && chat.user_id == current_user.id
    .message
      .upper-contents
        .upper-contents__icon
        - if chat.user.avatar.attached?
          = image_tag chat.user.avatar, class: "icon"
        - else
          = icon "fas", "user-circle",  class: "icon-blank"
        .upper-contents__user-name
          - japanese = /\A[ぁ-んァ-ン一-龥]/
          - english = /\A[\w\s]+\z/
          = chat.user.name[0..19] << "..." if chat.user.name.match(japanese) && chat.user.name.length > 20
          = chat.user.name[0..24] << "..." if chat.user.name.match(english) && chat.user.name.length > 25
          = chat.user.name unless chat.user.name.match(japanese) && chat.user.name.length > 20 or chat.user.name.match(english) && chat.user.name.length > 24
        .upper-contents__date
          = chat.created_at.strftime("%Y/%m/%d %H:%M")
        .upper-contents__awesome
          = link_to group_chat_path(@group, chat), method: :delete, data: {confirm: "本当に削除しますか？"} do
            = icon "fas", "trash-alt", style: "color: #0000CD"
      .lower-content
        .lower-content__text
          - if chat.message.present?
            = safe_join(chat.message.split("\n"), tag(:br))
            %br
          - if chat.image.present?
            = image_tag chat.image.url, class: 'lower-content__image'
          .lower-content__border

  - else
    .message
      .upper-contents
        .upper-contents__icon
        - if chat.user.avatar.attached?
          = image_tag chat.user.avatar, class: "icon"
        - else
          = icon "fas", "user-circle",  class: "icon-blank"
        .upper-contents__user-name
          - japanese = /\A[ぁ-んァ-ン一-龥]/
          - english = /\A[\w\s]+\z/
          = chat.user.name[0..19] << "..." if chat.user.name.match(japanese) && chat.user.name.length > 20
          = chat.user.name[0..24] << "..." if chat.user.name.match(english) && chat.user.name.length > 25
          = chat.user.name unless chat.user.name.match(japanese) && chat.user.name.length > 20 or chat.user.name.match(english) && chat.user.name.length > 24
        .upper-contents__date
          = chat.created_at.strftime("%Y/%m/%d %H:%M")
      .lower-content
        .lower-content__text
          - if chat.message.present?
            = safe_join(chat.message.split("\n"), tag(:br))
            %br
          - if chat.image.present?
            = image_tag chat.image.url, class: 'lower-content__image'
          .lower-content__border