.chat-wrap
  -# = render "/share/header"
  .chat
    .messages
      = render "chats/message"
    .chat-footer
      = form_with model:[@group, @chat] do |f|    #デフォルトでajax処理なのでJavascriptでのajax処理は必要無し  =>  local: trueで解除
        .chat-form
          = f.text_area :message, class: "chat-form__text", placeholder: "type a message"
          .chat-form__button
            = f.label :image, class: "chat-form__image" do
              = icon "fas", "image", class: "form-image__awesome"
              = f.file_field :image, class: "hidden"
          .chat-form__button
            = f.submit "send", class: "chat-form__send"


  = render "/share/navigation"