= render "/share/header"

.chat-wrap
  // メッセージ一覧表示のフィールド
  %section.messages
    = render "chats/message"

  // form_withはデフォルトでajax処理なのでJavascriptでのajax処理は必要無し  =>  local: trueで解除
  = form_with model:[@group, @chat] do |f|
    //フォーム
    .chat-form
      = f.text_area :message, class: "chat-form__text-area", placeholder: "type a message"
      = f.label :image, class: "chat-form__image" do
        = icon "fas", "image", class: "chat-form__image--icon"
        = f.file_field :image, class: "chat-form__image--hidden-field"
      = f.submit "send", class: "chat-form__send"

= render "/share/navigation"

// 画像のモーダル表示
.chat-modal
  - @group.chats.each do |chat|
    = image_tag chat.image.url, class: 'chat-modal__image' if chat.image.present?