- if @group.present?
  %ul.information-tab
    %li.active Group
    %li Task
    %li Member
    %li Chat
  .information-wrap
    .information-contents
      .information-content.active
        .information-text.active
        - @group.audits.order(created_at: :desc).each do |log|
          .information-time
            = log.created_at.strftime("%Y/%m/%d %H:%M")
          .information-result
            #{log.user.name}が#{@group.name}を#{log.action}しました
          .information-border
          %br/

      #switch.information-content
        .information-text2
        - @group.tasks.order(created_at: :desc).each do |task|
          .information-time
            = task.created_at.strftime("%Y/%m/%d %H:%M")
          .information-result
            = task.user.name
            がtaskを更新しました
          .information-border
          %br/

      #switch.information-content
        .information-text3

      #switch.information-content
        .information-text4
        - @group.chats.order(created_at: :desc).each do |chat|
          .information-time
            = chat.created_at.strftime("%Y/%m/%d %H:%M")
          .information-result
            = chat.user.name
            がchatを更新しました
          .information-border
          %br/

- else
  %ul.information-tab
    %li.active Group
    %li Task
    %li Member
    %li Chat
  .information-wrap
    .information-contents
      .information-content.active
        .information-text.active
          .information-blank
            グループが選択されていません
            %br/
            新規作成または選択してください
          .information-border

      #switch.information-content
        .information-text2
          .information-blank
            グループが選択されていません
            %br/
            新規作成または選択してください
          .information-border

      #switch.information-content
        .information-text3
          .information-blank
            グループが選択されていません
            %br/
            新規作成または選択してください
          .information-border

      #switch.information-content
        .information-text4
          .information-blank
            グループが選択されていません
            %br/
            新規作成または選択してください
          .information-border