-if @group.present?
  = render group_path(group.id)

- else
.toppage-wrap

  .toppage-box
    .toppage-header
      .toppage-header__awesome
        = icon "fa", "info-circle", class: "bolt"
      .toppage-header__title
        グループが選択されていません

  %ul.group-bar__blank
    %li.group-bar__blank--button
      = link_to "New Group", new_group_path, class: "group-bar__list--action"
    %li.group-bar__blank--button
      = link_to "Select Group", groups_path, class: "group-bar__list--action"

  .toppage-information
    .information-header
      Information
    .information-ground
      = render "toppages/information"

  .toppage-notice
    .notice-header
      Notice
    .notice-box
      .notice-box__content--blank
        共有事項はありません

= render "share/navigation"
