.form-wrap
  %h1.form-title
    EventGeek
  = form_with model: @user, local: true do |f|
    .form-area
      = render "users/errors"

      .common-block
        .common-label
          = f.label :name, "Name"
        = f.text_field :name, autofocus: false, maxlength: "20", class: "input-field", placeholder: "Eventer", required: true     #required: trueでtype: inputの空の入力を判別してエラーメッセージを表示してくれる

      .common-block
        .common-block__heading
          Avatar
          .common-block__heading--description
            ※設定は任意です
        = f.label :avatar, class: "avatar-label" do
          = icon "fa", "image", class: "image-icon"
          = f.file_field :avatar, class: "input-file"

      .common-block
        .common-label
          = f.label :email, "Email"
        = f.email_field :email, autofocus: false, autocomplete: "email", class: "input-field", placeholder: 'xxx@event.com', required: true

      .common-block
        .common-label
          = f.label :password, "Password"
        = f.password_field :password, autocomplete: "new-password", class: "input-field", placeholder: '6文字以上', required: true

      .common-block
        .common-label
          = f.label :password_confirmation, "Password confirmation"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field", placeholder: '6文字以上', required: true

      .common-block
        = f.submit "Confirm", class: "form-submit"

      .common-block
        = link_to "/login" , class: "login-link" do
          すでにアカウントをお持ちの方はログインしてください
      .copyright
        Copyright© 2020 Ryo Kurashima